#money{
    position: absolute;
    left: 450px;
    border: 2px solid black;
    border-radius: 20px;
    width: 250px;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    color: black;
    background-color: rgb(154, 251, 154);
    box-shadow: 4px 4px 0px red;
    transition: 0.5s;
}
#money:hover{
    box-shadow: 2px 2px 0px red;
}
#money:active{
    box-shadow: none;
}
#tip{
    position: absolute;
    left: 750px;
    border: 2px solid black;
    border-radius: 20px;
    width: 250px;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    color: black;
    background-color: rgb(154, 251, 154);
    box-shadow: 4px 4px 0px red;
    transition: 0.5s;
}
#tip:hover{
    box-shadow: 2px 2px 0px red;
}
#tip:active{
    box-shadow: none;
}
#butt{
    position: absolute;
    left: 600px;
    top: 100px;
    border: 2px solid black;
    border-radius: 20px;
    width: 250px;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    color: black;
    background-color: yellow;
    box-shadow: 4px 4px 0px red;
    transition: 0.5s;
}
#butt:hover{
    box-shadow: 2px 2px 0px red;
}
#butt:active{
    box-shadow: none;
}
#tipsProcent{
    position: absolute;
    top: 100px;
}