body{
    background-color: rgb(255, 240, 196);
}
#main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 80px;
}
.divs{
    background-color: rgb(241, 209, 115);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}
img{
    width: 400px;
    border-radius: 10px;
}
.name{
    font-size: 16px;
    font-weight: 600;
    color: #254336;
}
.price{
    font-size: 23px;
    font-weight: 600;
    color: #254336;
}
button{
    font-weight: 700;
    font-size: 18px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 20px;
    border: none;
    border-radius: 10px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
button:hover{
    background-color: hsl(162, 44%, 23%);
}
body {
    background-color: rgb(255, 240, 196);
    height: 2000px;
}
#bar {
    position: fixed;
    width: 99%;
    height: 60px;
    background-color: rgb(255, 249, 229);
    box-shadow: 4px 4px 1px black;
    color: black;
    border-radius: 40px;
    right: 10px;
    transition: 0.5s;
    top: 10px;
}
#bar:hover {
    box-shadow: none;
}
#p1 {
    position: relative;
    position: absolute;
    color: #254336;
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 20px;
    transition: 0.3s;
}
#p1:hover {
    font-size: 25px;
    text-decoration: underline;
}
#p2 {
    position: relative;
    position: absolute;
    color: #254336;
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 110px;
    transition: 0.3s;
}
#p2:hover {
    font-size: 25px;
    text-decoration: underline;
}
#p3 {
    position: relative;
    position: absolute;
    color: #254336;
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 250px;
    transition: 0.3s;
}
#p3:hover {
    font-size: 25px;
    text-decoration: underline;
}
#p5 {
    border: none;
    position: relative;
    position: absolute;
    color: #254336;
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 400px;
    transition: 0.3s;
}
#p5:hover {
    font-size: 25px;
    text-decoration: underline;
}
#p4 {
    position: relative;
    position: absolute;
    color: #254336;
    margin-top: 1px;
    margin-left: 560px;
    font-size: 40px;
    font-weight: 900;
    transition: 0.5s;
    text-decoration: none;
}
#p4:hover {
    color: green;
}
#sectbarimg {
    position: relative;
    position: absolute;
    width: 150px;
    margin-left: 800px;
    border-radius: 20px;
}
#p6 {
    position: relative;
    position: absolute;
    color: #254336;
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 1000px;    
    transition: 0.3s;    
}
#p6:hover {
    font-size: 25px;
    text-decoration: underline;
}
#p7 {
    position: relative;
    position: absolute;
    color: #254336;
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 1080px;    
    transition: 0.3s;    
}
#p7:hover {
    font-size: 25px;
    text-decoration: underline;
}
#p8 {
    position: relative;
    position: absolute;
    color: #254336;
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 1160px;    
    transition: 0.3s;  
}
#p8:hover {
    font-size: 25px;
    text-decoration: underline;
}
#sectbar {
    width: 100%;
    height: 70px;
}
#divreklama {
    position: relative;
    position: absolute;
    position: fixed;
    width: 700px;
    height: 500px;
    border: 2px solid black;
    border-radius: 50px;
    box-shadow: 2px 2px 0px black;
    background-color: pink;
    opacity: 1;
    left: 1600px;
    top: 110px;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-name: reklamadiv;
    animation-direction: unset;
    animation-delay: 30s;
}
@keyframes reklamadiv {
0% {
    opacity: 0;
    left: 400px;
}
3% {
    opacity: 1;
}
99% {
    opacity: 1;
    left: 400px;
}
100% {
    opacity: 0;
}
}
#divreklama:active {
    animation: none;
}



#distxt {
    position: relative;
    position: absolute;
    font-size: 50px;
    font-weight: 900;
    padding: 50px;
    width: 400px;
    left: 90px;
    text-shadow: 2px 2px 3px rgb(255, 115, 138);
}
#disbutt {
    position: relative;
    position: absolute;
    top: 300px;
    left: 100px;
    width: 500px;
    height: 120px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    color: black;
    font-weight: 900;
    font-size: 40px;
    background-color: white;
    text-shadow: 2px 2px 3px rgb(255, 115, 138);
    transition: 0.4s;
}
#disbutt:hover {
    box-shadow: none;
}
#divext {
    position: relative;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    left: 620px;
    top: 20px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 70px;
    font-family:sans-serif;
    color: white;
    box-shadow: 2px 2px 3px black;
    transition: 0.4s;
}
#divext:hover {
    box-shadow: none;
}
#xp {
    position: relative;
    position: absolute;
    margin-top: 60px;
}