section {
    display: flex;
    justify-content: space between ;
}

#image {
    width: 300px;
    border-radius: 50%;
    border: None;
    height: 200px;
}

img {
    width: 100px;
}

button {
    width: 300px;
    height: 200px;
    background-color: rgb(239, 222, 172);
    border-radius: 20%;
}

body {
    background-color: rgb(255, 240, 196);
}

p {
    font-size: 50px;
    position: relative;
    top: 0px;
}

div {
    bottom: 100px;
    margin-left: 400px;
}

#eng {
    position: relative;
    top: 100px;
    box-shadow: 3px 3px 5px black;
    transition: 0.5s;
}

#eng:hover {
    box-shadow: None;
}

#geo {
    position: relative;
    top: 100px;
    box-shadow: 3px 3px 5px black;
    transition: 0.5s;
}

#geo:hover {
    box-shadow: None;
}
.dvs {
    position: relative;
    right: 160px;
}